// Simple media queries mixin base on bootstrap breakpoints
@mixin mq($media) {
  @if $media == "sm" {
    @media (min-width: 768px) {
      @content;
    }
  }
  @else if $media == "md" {
    @media (min-width: 992px) {
      @content;
    }
  }
  @else if $media == "lg" {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

// Variables
$black: #444;
$orage: #F26821;
$white: #fff;
$gray: #ddd;
$gray-dark: #ccc;
$green: #9cc03b;
$base-radius: 3px;
$subscribe-height: 38px;
$text-color: $black;
$border-radius: 2px;

// Real deal!

*, *:before, *:after {
  box-sizing: border-box;
}


html, body {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;

}


h1, h2, h3, h4, h5, h6 {
  font-family: 'Amaranth', sans-serif;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

li {
  margin-bottom: 10px;

  ol {
    margin-bottom: 20px;

    li {
      margin-bottom: 0;
    }
  }
}

a {
  &:link {
    color: $orage;
  }
  &:hover {
    text-decoration: none;
  }
}

input[type="email"] {
  -webkit-appearance: none;
  border-radius: $base-radius;
  border: none;
  box-shadow: 0 0 0 1px hsla(0, 0, 0, 0.25);
  float: left;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
}

.btn {
  -webkit-appearance: none;
  background-color: white;
  border-radius: $border-radius;
  border: none;
  box-shadow: 0 0 0 1px $black;
  color: $black;
  display: inline-block;
  font-family: 'Amaranth', sans-serif;
  font-size: 1em;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  text-decoration: none;

  &.secondary {
    background-color: $green;
    box-shadow: 0 0 0 1px hsla(0, 0, 0, 0.25);
    color: $white;

    &:link {
      color: $white;
    }

  }

  &.btn-icon {
    position: relative;
    padding-left: 30px;

    &:before {
      background-image: url("../images/sprites.png");
      background-position-y: -67px;
      display: block;
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      top: 50%;
      margin-top: -6px;
      left: 10px;
    }

    &.icon-phone-white:before {
      background-position-x: -36px;
    }

    &.icon-phone:before {
      background-position-x: 0;
    }

    &.icon-map:before {
      background-position-x: -12px;
    }

    &.icon-waze:before {
      background-position-x: -24px;
    }
  }


  &:link {
    color: $black;
  }
}

.menu {
  margin-bottom: 20px;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .section-title {
      margin-right: 20px;
    }

    .btn {
      flex: 1;
      text-align: center;
    }
  }
}

.section-title {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  a {
    margin-left: 20px;
    text-decoration: none;

    &:link, &:visited {
      color: $black;
    }
  }
}

.contact {
  text-align: center;

  .btn {
    margin: 0 5px
  }
}

.logo {
  height: 50px;
}

.item-name {
  flex: 3
}

.item-price {
  flex: 1;
  font-weight: bold;
  text-align: right;
  white-space: nowrap;

  &::first-letter {
    font-size: 12px;
    font-weight: normal;
  }
}

.menu-item {
  align-items: flex-end;
  border-bottom: solid 1px $gray;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;

  &:last-child {
    border-bottom-color: transparent;
  }
}

.menu-tabs-panel {
  display: none;

  &.active {
    display: block;
  }
}

.menu-tabs {
  display: flex;
}

.menu-tabs-sections {
  border: solid 1px $gray;
  margin-top: -1px;
  padding: 20px;
}

.menu-tab {
  background: url('../images/sprites.png') no-repeat;
  color: $text-color;
  display: flex;
  font-family: 'Amaranth', sans-serif;
  font-size: 13px;
  height: 67px;
  justify-content: center;
  text-decoration: none;
  width: 67px;


  &:link {
    color: $black;
  }

  span {
    align-self: flex-end;
    margin-bottom: 5px;
    pointer-events: none;
    text-align: center;
  }

  &.active {
    border: solid 1px $gray;
    border-bottom-color: $white;
  }

  &.arroz {
    background-position-x: -134px;
  }

  &.comida-rapida {
    background-position-x: -201px;
  }

  &.sopas {
    background-position-x: -67px;
  }

  &.especiales {
    background-position-x: -268px;
  }
}

.menu-subtitle {
  margin-top: 0;
}

.page {
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
  width: 100%;
  word-break: break-word;
}

.social-media {
  display: flex;
  margin: 20px 0;

  a {
    color: $white;
    display: block;
    flex: 1;
    font-size: 12px;
    font-weight: bold;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    &.fb {
      background-color: #3b5998;
      margin-right: 20px;
    }

    &.ig {
      background:
        radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
        radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
        radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
        radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
        radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
        radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
        radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
        linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    }
  }
}

.subscribe {
  background-color: orange;
  border-radius: $base-radius;
  color: $white;
  padding: 20px;

  h3, p {
    margin: 0;
    text-align: center;
  }

  .mc-field-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .email {
      flex: 1;
    }

    .btn {
      margin-left: 10px;
    }
  }
}
