// Simple media queries mixin base on bootstrap breakpoints
@mixin mq($media) {
  @if $media == "xs" {
    @media (min-width: 340px) {
      @content;
    }
  }
  @if $media == "sm" {
    @media (min-width: 768px) {
      @content;
    }
  }
  @else if $media == "md" {
    @media (min-width: 992px) {
      @content;
    }
  }
  @else if $media == "lg" {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

// Variables
$black: #444;
$gray-dark: #777;
$gray: #ddd;
$green: #61D41D;
$orange: #F26821;
$white: #fff;

$base-radius: 3px;
$subscribe-height: 38px;
$text-color: $black;
$border-radius: 2px;
$spacing: 10px;

// Real deal!

*, *:before, *:after {
  box-sizing: border-box;
}


html, body {
  background-color: rgba($black, 0.03);
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;;
  font-size: 16px;
  margin: 0;
  padding: 0;

}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h3 {
  font-size: 24px;
  font-weight: normal;
}

li {
  margin-bottom: 10px;

  ol {
    margin-bottom: 20px;

    li {
      margin-bottom: 0;
    }
  }
}

a {
  &:link {
    color: $orange;
  }
  &:hover {
    text-decoration: none;
  }
}

input[type="email"] {
  -webkit-appearance: none;
  border-radius: $base-radius;
  border: none;
  box-shadow: 0 0 0 1px hsla(0, 0, 0, 0.25);
  float: left;
  font-family: 'Montserrat', sans-serif;;
  font-size: 90%;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
}

.btn {
  -webkit-appearance: none;
  background-color: white;
  border-radius: $border-radius;
  border: none;
  box-shadow: 0 0 0 1px $black;
  color: $black;
  display: inline-block;
  font-size: 1em;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  text-decoration: none;

  &.secondary {
    background-color: $green;
    box-shadow: 0 0 0 1px hsla(0, 0, 0, 0.25);
    color: $white;

    &:link {
      color: $white;
    }

  }

  &:link {
    color: $black;
  }
}

#icon {
  background-image: url("../images/sprites.png");
  background-position-y: -67px;
  content: "";
  display: block;
  position: absolute;
  top: 50%;
}

.btn-icon {
  padding-left: 30px;
  position: relative;

  &:before {
    @extend #icon;
    height: 12px;
    left: 10px;
    margin-top: -6px;
    width: 12px;
  }

  &.icon-phone-white:before {
    background-position-x: -36px;
  }

  &.icon-phone:before {
    background-position-x: 0;
  }

  &.icon-map:before {
    background-position-x: -12px;
  }

  &.icon-waze:before {
    background-position-x: -24px;
  }
}

.contact__actions {
  margin-top: $spacing * 4;
  display: flex;
  justify-content: space-between;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing * 2;

  h1 {
    margin: 0;
  }
}

.home__info {
  background-color: $white;
  padding: $spacing * 2;

  @include mq("sm") {
    box-shadow: 3px 0 40px 0 rgba($black, 0.5);
    height: 100%;
    position: fixed;
    width: 45%;
  }

  @include mq("md") {
    padding: $spacing * 4;
    width: 400px;
  }
}

.instagram__feed {
  padding: 1px $spacing * 4 0;

  @include mq("sm") {
    margin-left: 45%;
  }

  @include mq("md") {
    margin-left: 400px;
  }
}

.instagram__slider-item,
.instagram__feed-item {

  img {
    display: block;
  }
}

.instagram__feed-item {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba($black, 0.23);
  background-color: $white;
  color: $gray-dark;
  border-radius: $border-radius;
  margin: $spacing * 4 auto;
  padding: $spacing * 2;
  width: 100%;

  @include mq("md") {
    width: 600px;
  }

  img {
    width: 100%;
  }

  p {
    font-size: 90%;
    margin-bottom: 0;
  }
}

.instagram__slider {
  margin-bottom: $spacing * 2;
}

.instagram__slider-item {
  height: 100%;
  width: 100%;

  img {
    margin: auto;
    height: 100%;
  }
}

.logo {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.page {
  margin: 0 auto;
}

.social-media {
  display: flex;
  flex-direction: column;

  a {
    align-items: flex-end;
    color: $black;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin: $spacing 0;

    &:before {
      width: 18px;
      height: 18px;
    }

    .icn {
      display: block;
      width: 32px;
      height: 32px;
      margin-bottom: $spacing / 2;
      position: relative;


      &:before {
        @extend #icon;
        height: 18px;
        left: 7px;
        margin-top: -9px;
        width: 18px;
      }
    }

    .fb {
      background-color: #3b5998;

      &:before {
        background-position-x: -48px;
      }
    }

    .ig {
      background:
      radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
      radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
      radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
      radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
      radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
      radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
      radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
      linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);

      &:before {
        background-position-x: -66px;
      }
    }
  }
}

.subscribe {
  background-color: $orange;
  border-radius: $base-radius;
  color: $white;
  padding: 20px;

  h3, p {
    margin: 0;
    text-align: center;
  }

  .mc-field-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;

    .email {
      flex: 1;
    }

    .btn {
      margin-left: 10px;
    }
  }
}
