*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  background-color: rgba(68, 68, 68, 0.03);
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif; }

h3 {
  font-size: 24px;
  font-weight: normal; }

li {
  margin-bottom: 10px; }
  li ol {
    margin-bottom: 20px; }
    li ol li {
      margin-bottom: 0; }

a:link {
  color: #F26821; }

a:hover {
  text-decoration: none; }

input[type="email"] {
  -webkit-appearance: none;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  float: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 90%;
  height: 36px;
  line-height: 36px;
  padding: 0 10px; }

.btn {
  -webkit-appearance: none;
  background-color: white;
  border-radius: 2px;
  border: none;
  box-shadow: 0 0 0 1px #444;
  color: #444;
  display: inline-block;
  font-size: 1em;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  text-decoration: none; }
  .btn.secondary {
    background-color: #61D41D;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    color: #fff; }
    .btn.secondary:link {
      color: #fff; }
  .btn:link {
    color: #444; }

#icon, .btn-icon:before, .social-media a .icn:before {
  background-image: url("../images/sprites.png");
  background-position-y: -67px;
  content: "";
  display: block;
  position: absolute;
  top: 50%; }

.btn-icon {
  padding-left: 30px;
  position: relative; }
  .btn-icon:before {
    height: 12px;
    left: 10px;
    margin-top: -6px;
    width: 12px; }
  .btn-icon.icon-phone-white:before {
    background-position-x: -36px; }
  .btn-icon.icon-phone:before {
    background-position-x: 0; }
  .btn-icon.icon-map:before {
    background-position-x: -12px; }
  .btn-icon.icon-waze:before {
    background-position-x: -24px; }

.contact__actions {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px; }
  .header h1 {
    margin: 0; }

.home__info {
  background-color: #fff;
  padding: 20px; }
  @media (min-width: 768px) {
    .home__info {
      box-shadow: 3px 0 40px 0 rgba(68, 68, 68, 0.5);
      height: 100%;
      position: fixed;
      width: 45%; } }
  @media (min-width: 992px) {
    .home__info {
      padding: 40px;
      width: 400px; } }

.instagram__feed {
  padding: 1px 40px 0; }
  @media (min-width: 768px) {
    .instagram__feed {
      margin-left: 45%; } }
  @media (min-width: 992px) {
    .instagram__feed {
      margin-left: 400px; } }

.instagram__slider-item img,
.instagram__feed-item img {
  display: block; }

.instagram__feed-item {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(68, 68, 68, 0.23);
  background-color: #fff;
  color: #777;
  border-radius: 2px;
  margin: 40px auto;
  padding: 20px;
  width: 100%; }
  @media (min-width: 992px) {
    .instagram__feed-item {
      width: 600px; } }
  .instagram__feed-item img {
    width: 100%; }
  .instagram__feed-item p {
    font-size: 90%;
    margin-bottom: 0; }

.instagram__slider {
  margin-bottom: 20px; }

.instagram__slider-item {
  height: 100%;
  width: 100%; }
  .instagram__slider-item img {
    margin: auto;
    height: 100%; }

.logo {
  display: block;
  margin: 0 auto;
  width: 200px; }

.page {
  margin: 0 auto; }

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .social-media a {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    color: #444;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px 0; }
    .social-media a:before {
      width: 18px;
      height: 18px; }
    .social-media a .icn {
      display: block;
      width: 32px;
      height: 32px;
      margin-bottom: 5px;
      position: relative; }
      .social-media a .icn:before {
        height: 18px;
        left: 7px;
        margin-top: -9px;
        width: 18px; }
    .social-media a .fb {
      background-color: #3b5998; }
      .social-media a .fb:before {
        background-position-x: -48px; }
    .social-media a .ig {
      background: -webkit-radial-gradient(35% 90%, circle farthest-corner, #fec564, transparent 50%), -webkit-radial-gradient(0 140%, circle farthest-corner, #fec564, transparent 50%), -webkit-radial-gradient(0 -25%, ellipse farthest-corner, #5258cf, transparent 50%), -webkit-radial-gradient(20% -50%, ellipse farthest-corner, #5258cf, transparent 50%), -webkit-radial-gradient(100% 0, ellipse farthest-corner, #893dc2, transparent 50%), -webkit-radial-gradient(60% -20%, ellipse farthest-corner, #893dc2, transparent 50%), -webkit-radial-gradient(100% 100%, ellipse farthest-corner, #d9317a, transparent), -webkit-linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
      background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); }
      .social-media a .ig:before {
        background-position-x: -66px; }

.subscribe {
  background-color: #F26821;
  border-radius: 3px;
  color: #fff;
  padding: 20px; }
  .subscribe h3, .subscribe p {
    margin: 0;
    text-align: center; }
  .subscribe .mc-field-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px; }
    .subscribe .mc-field-group .email {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .subscribe .mc-field-group .btn {
      margin-left: 10px; }
