*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Amaranth', sans-serif; }

h3 {
  font-size: 20px;
  font-weight: normal; }

li {
  margin-bottom: 10px; }
  li ol {
    margin-bottom: 20px; }
    li ol li {
      margin-bottom: 0; }

a:link {
  color: #F26821; }

a:hover {
  text-decoration: none; }

input[type="email"] {
  -webkit-appearance: none;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  float: left;
  font-family: 'Titillium Web', sans-serif;
  font-size: 1em;
  height: 36px;
  line-height: 36px;
  padding: 0 10px; }

.btn {
  -webkit-appearance: none;
  background-color: white;
  border-radius: 2px;
  border: none;
  box-shadow: 0 0 0 1px #444;
  color: #444;
  display: inline-block;
  font-family: 'Amaranth', sans-serif;
  font-size: 1em;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  text-decoration: none; }
  .btn.secondary {
    background-color: #9cc03b;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    color: #fff; }
    .btn.secondary:link {
      color: #fff; }
  .btn.btn-icon {
    position: relative;
    padding-left: 30px; }
    .btn.btn-icon:before {
      background-image: url("../images/sprites.png");
      background-position-y: -67px;
      display: block;
      content: "";
      position: absolute;
      width: 12px;
      height: 12px;
      top: 50%;
      margin-top: -6px;
      left: 10px; }
    .btn.btn-icon.icon-phone-white:before {
      background-position-x: -36px; }
    .btn.btn-icon.icon-phone:before {
      background-position-x: 0; }
    .btn.btn-icon.icon-map:before {
      background-position-x: -12px; }
    .btn.btn-icon.icon-waze:before {
      background-position-x: -24px; }
  .btn:link {
    color: #444; }

.menu {
  margin-bottom: 20px; }
  .menu header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px; }
    .menu header .section-title {
      margin-right: 20px; }
    .menu header .btn {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      text-align: center; }

.section-title {
  margin: 0; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav a {
  margin-left: 20px;
  text-decoration: none; }
  .nav a:link, .nav a:visited {
    color: #444; }

.contact {
  text-align: center; }
  .contact .btn {
    margin: 0 5px; }

.logo {
  height: 50px; }

.item-name {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3; }

.item-price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: bold;
  text-align: right;
  white-space: nowrap; }
  .item-price::first-letter {
    font-size: 12px;
    font-weight: normal; }

.menu-item {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  border-bottom: solid 1px #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0; }
  .menu-item:last-child {
    border-bottom-color: transparent; }

.menu-tabs-panel {
  display: none; }
  .menu-tabs-panel.active {
    display: block; }

.menu-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.menu-tabs-sections {
  border: solid 1px #ddd;
  margin-top: -1px;
  padding: 20px; }

.menu-tab {
  background: url("../images/sprites.png") no-repeat;
  color: #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Amaranth', sans-serif;
  font-size: 13px;
  height: 67px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  width: 67px; }
  .menu-tab:link {
    color: #444; }
  .menu-tab span {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 5px;
    pointer-events: none;
    text-align: center; }
  .menu-tab.active {
    border: solid 1px #ddd;
    border-bottom-color: #fff; }
  .menu-tab.arroz {
    background-position-x: -134px; }
  .menu-tab.comida-rapida {
    background-position-x: -201px; }
  .menu-tab.sopas {
    background-position-x: -67px; }
  .menu-tab.especiales {
    background-position-x: -268px; }

.menu-subtitle {
  margin-top: 0; }

.page {
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
  width: 100%;
  word-break: break-word; }

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0; }
  .social-media a {
    color: #fff;
    display: block;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    font-size: 12px;
    font-weight: bold;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; }
    .social-media a.fb {
      background-color: #3b5998;
      margin-right: 20px; }
    .social-media a.ig {
      background: -webkit-radial-gradient(35% 90%, circle farthest-corner, #fec564, transparent 50%), -webkit-radial-gradient(0 140%, circle farthest-corner, #fec564, transparent 50%), -webkit-radial-gradient(0 -25%, ellipse farthest-corner, #5258cf, transparent 50%), -webkit-radial-gradient(20% -50%, ellipse farthest-corner, #5258cf, transparent 50%), -webkit-radial-gradient(100% 0, ellipse farthest-corner, #893dc2, transparent 50%), -webkit-radial-gradient(60% -20%, ellipse farthest-corner, #893dc2, transparent 50%), -webkit-radial-gradient(100% 100%, ellipse farthest-corner, #d9317a, transparent), -webkit-linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
      background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%); }

.subscribe {
  background-color: orange;
  border-radius: 3px;
  color: #fff;
  padding: 20px; }
  .subscribe h3, .subscribe p {
    margin: 0;
    text-align: center; }
  .subscribe .mc-field-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 20px; }
    .subscribe .mc-field-group .email {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
    .subscribe .mc-field-group .btn {
      margin-left: 10px; }
